<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>JR</title>
  <meta name="description" content="John Rihacek's home page.">
  <meta name="author" content="John Rihacek">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">
  <link rel="stylesheet" href="../static/css/custom.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../static/images/favicon.png">

    <!-- Scripts
  --------------------------------------------------- -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="../static/js/site.js"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row" style="margin-top: 25%">
      <div class="one-half column">
        <h4>Uptime</h4>
        <h6>{{ dashboard.greeting }}</h6>
		<p>This is a small app that I created to dip a toe into the Nginx/uWSGI/Flask/Python/mySQL web stack. Local services are queried, and statuses are delivered upstream for display.</p>   
      </div>		
      
    </div>

    <nav class="navbar">
        <div class="container">
          <div class="two-thirds column">
            <ul class="navbar-list">
              <li class="navbar-item"><a class="navbar-link" href="https://vis.rihaceks.com">Visualization</a></li>
              <li class="navbar-item"><a class="navbar-link" href="#">Automation</a></li>
              <li class="navbar-item"><a class="navbar-link" href="https://rihaceks.com">Home</a></li>
            </ul>
          </div>
          <div class="one-third column">
            <a href="https://github.com/rihacek"><img src="../static/images/github-brands.svg" height="35" style="padding: 10px;"/></a>
            <a href="https://www.linkedin.com/in/jrihacek"><img src="../static/images/linkedin-brands.svg" height="35" style="padding: 10px;"/></a>
          </div>  
        </div>
    </nav>



		<div class="u-full-width" style="margin-top: 5%">
      <div>        
        <div>Plex</div>
        <div>
          <svg width="100%" height="34" viewBox="0 0 243 34" preserveAspectRatio="none" >
            {%for i in range(0,49)%}<rect x="{{i * 5}}" height="34" width="3" fill="#2fcc66"></rect>{%endfor%}            
          </svg>
        </div>
        <div class="legend">
          <div>50 days ago</div>
          <div class="spacer"></div>
          <div>100% uptime</div>
          <div class="spacer"></div>
          <div>Today</div>
        </div>
      </div>    
      <div>HomeAssist</div>
      <div>Wifi</div>
      <div>Server01</div>
      <div>Server02</div>
		</div>


  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
