<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>JR</title>
  <meta name="description" content="John Rihacek's home page.">
  <meta name="author" content="John Rihacek">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">
  <link rel="stylesheet" href="../static/css/custom.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../static/images/favicon.png">

    <!-- Scripts
  --------------------------------------------------- -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="../static/js/site.js"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row" style="margin-top: 25%">
      <div class="one-half column">
        <h4>Ping</h4>
		<p>Describe what the ping stuff is here.</p>   
      </div>      
    </div>

    <nav class="navbar">
        <div class="container">
          <div class="two-thirds column">
            <ul class="navbar-list">
              <li class="navbar-item"><a class="navbar-link" href="https://vis.rihaceks.com">Visualization</a></li>
              <li class="navbar-item"><a class="navbar-link" href="#">Automation</a></li>
              <li class="navbar-item"><a class="navbar-link" href="https://rihaceks.com">Home</a></li>
            </ul>
          </div>
          <div class="one-third column">
            <a href="https://github.com/rihacek"><img src="../static/images/github-brands.svg" height="35" style="padding: 10px;"/></a>
            <a href="https://www.linkedin.com/in/jrihacek"><img src="../static/images/linkedin-brands.svg" height="35" style="padding: 10px;"/></a>
          </div>  
        </div>
    </nav>

    <div class="u-full-width" style="margin-top: 5%">
      <p>Describe how the ping stuff works here.</p>
    </div>

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>